# Configuração da API Flask
FLASK_DEBUG=true
HOST=0.0.0.0
PORT=5000

# Configuração do Tesseract OCR
# Windows: caminho para o executável do Tesseract
TESSERACT_CMD=C:\Estudos\programas\Tesseract-OCR\tesseract.exe
TESSDATA_PREFIX=C:\Estudos\programas\Tesseract-OCR\tessdata

# Linux/Mac: normalmente apenas 'tesseract' se estiver no PATH
# TESSERACT_CMD=tesseract
